.shadowed {
    -webkit-box-shadow: 0 0 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px -5px rgba(0,0,0,0.75);
    box-shadow: 0 0 10px -3px rgba(0,0,0,0.75);
}

.standard {
    margin: 8px;
    padding: 4px;
    display: flex;
}

.left {
    align-self: flex-start;
    float: left;
}

.quarter {
    width: 25%;
}

.full {
    height: 90vh;
}

.top {
    vertical-align: top;
}

.right {
    align-self: flex-end;
    float: right;
}

.fill-width {
    flex-grow: 1;
}

.fill-height {
    height: 100%;
}


.three-quarter {
    width: 75%;
}
